<div class="container mx-auto">
  <div class="grid grid-cols-1 mt-10">
    <div class="col-span-1">
      <article class="prose min-w-[100%]">
        <h1>we're so back</h1>
        <p></p>
      </article>
    </div>
  </div>
  <span class="text-[100px] font-bold">wee</span>
  <div class="grid grid-cols-11">
    <div class="col-span-5 text-right h-[100px]">
      <div class="prose min-w-[100%]"><h1>Food</h1></div>
    </div>
    <div
      class="col-span-1 text-center h-[100px] flex items-center justify-center"
    >
      <div class="prose min-w-[100%]"><h1>/</h1></div>
    </div>
    <div class="col-span-5 text-left h-[100px] flex items-end justify-start">
      <div class="prose min-w-[100%]"><h1>Medicine</h1></div>
    </div>
  </div>
</div>

<!-- <h1>Buttons</h1>
<button class="btn">Button</button>
<button class="btn btn-neutral">Neutral</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-accent">Accent</button>
<button class="btn btn-ghost">Ghost</button>
<button class="btn btn-link">Link</button>
<button class="btn btn-active">Default</button>
<button class="btn btn-active btn-neutral">Neutral</button>
<button class="btn btn-active btn-primary">Primary</button>
<button class="btn btn-active btn-secondary">Secondary</button>
<button class="btn btn-active btn-accent">Accent</button>
<button class="btn btn-active btn-ghost">Ghost</button>
<button class="btn btn-active btn-link">Link</button>
<button class="btn btn-info">Info</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-error">Error</button>
<button class="btn btn-outline">Default</button>
<button class="btn btn-outline btn-primary">Primary</button>
<button class="btn btn-outline btn-secondary">Secondary</button>
<button class="btn btn-outline btn-accent">Accent</button>
<button class="btn btn-outline btn-info">Info</button>
<button class="btn btn-outline btn-success">Success</button>
<button class="btn btn-outline btn-warning">Warning</button>
<button class="btn btn-outline btn-error">Error</button>
<button class="btn btn-lg">Large</button>
<button class="btn">Normal</button>
<button class="btn btn-sm">Small</button>
<button class="btn btn-xs">Tiny</button>
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Responsive</button>
<button class="btn btn-wide">Wide</button>
<button class="btn" disabled="disabled">Disabled using attribute</button>
<button
  class="btn btn-disabled"
  tabindex="-1"
  role="button"
  aria-disabled="true"
>
  Disabled using class name
</button>
<button class="btn btn-block">block</button>
<button class="btn">
  <span class="loading loading-spinner"></span>
  loading
</button>
<h1>dropdowns</h1>
<details class="dropdown">
  <summary class="m-1 btn">open or close</summary>
  <ul
    class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52"
  >
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</details>
<div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1">Click</div>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
  >
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>
<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn m-1">Click</div>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
  >
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>
<div class="dropdown dropdown-top">
  <div tabindex="0" role="button" class="btn m-1">Click</div>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
  >
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>
<div class="dropdown dropdown-top dropdown-end">
  <div tabindex="0" role="button" class="btn m-1">Click</div>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
  >
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>
A normal text and a helper dropdown
<div class="dropdown dropdown-end">
  <div
    tabindex="0"
    role="button"
    class="btn btn-circle btn-ghost btn-xs text-info"
  >
    <svg
      tabindex="0"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="w-4 h-4 stroke-current"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
  </div>
  <div
    tabindex="0"
    class="card compact dropdown-content z-[1] shadow bg-base-100 rounded-box w-64"
  >
    <div tabindex="0" class="card-body">
      <h2 class="card-title">You needed more info?</h2>
      <p>Here is a description!</p>
    </div>
  </div>
</div>
<div class="dropdown dropdown-hover">
  <div tabindex="0" role="button" class="btn m-1">Hover</div>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
  >
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>
<h1>Modal</h1>
<button class="btn" onclick="my_modal_1.showModal()">open modal</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog> -->
