<div class="container mx-auto">
  <div class="grid grid-cols-1">
    <div class="col-span-1">
      <div class="flex flex-col justify-center items-center pt-[10%]">
        <img class="p-[15px]" src="assets/logo.png" alt="hero" />
        <div
          class="prose text-center min-w-[100%] p-[15px] pt-[100px] md:pt-[70px] sm:pt-[50px] xsm:pt-[30px]"
        >
          <p>
            <strong>
              Food & Medicine: The world's first and only self-reporting Food,
              Medicine, and Drug interaction database.
            </strong>
          </p>
        </div>
        <div class="pt-[70px]">
          <fnm-search-bar></fnm-search-bar>
        </div>
      </div>
    </div>
  </div>
</div>
